{% extends "dashboard/base_dashboard.html" %}

{% block dashboard_body %}
	<h1>Devices <small>manage your app certificates</small></h1>
	<hr>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Certificate Name</th>
				<th>Platform</th>
				<th>Type</th>
				<th>Devices</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% for i in "123" %}
			<tr>
				<td>MyApp Production {{ i }}</td>
				<td>Android</td>
				<td>Live</td>
				<td>1.434</td>
				<td>
					<div class="btn-group" role="group" aria-label="certificate options">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>MyApp SandBox {{ i }}</td>
				<td>IOS</td>
				<td>SandBox</td>
				<td>2.030</td>
				<td>
					<div class="btn-group" role="group" aria-label="certificate options">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
